.div-produto-relVendas {
  width: 60%;
  display: flex;
  align-items: center;
}

.div-data-relVendas {
  width: 40%;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.div-main-mais {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  padding-bottom: 10px;
}

.div-relatVendas-mais-status
  .div-relatVendas-mais-total
  .div-relatVendas-mais-updated {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
}

.div-normal-mais-RVendas {
  width: 90%;
  display: flex;
}
.div-relatVendas-mais-status {
  background-color: #fafafa;
  width: 60%;
}
.div-relatVendas-mais-total {
  background-color: #fafafa;
  width: 20%;
}
.div-relatVendas-mais-updated {
  background-color: #fafafa;
  width: 20%;
}
.div-relatVendas-mais-status-RV {
  background-color: white;
  width: 60%;
}
.div-relatVendas-mais-total-RV {
  background-color: white;
  width: 20%;
}
.div-relatVendas-mais-updated-RV {
  background-color: white;
  width: 20%;
}
