.div-card-Rtecnico {
  width: 96%;
  height: 95%;
  background-color: white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
}
.linhaTexto-Rtecnico {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.div-button-table-romaneio {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 30px;
}
.div-separate-table {
  display: flex;
  width: 100%;
  height: 1px;
  background-color: rgb(214, 214, 214);
  margin: 20px 0;
}
.h1-Rtecnico {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
  font-size: 2.2em;
}
.div-quant-modal-romaneio {
  width: 15%;
  display: flex;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.button-liberar-romaneio {
  background-color: rgb(31, 190, 71) !important;
  border-color: rgb(31, 190, 71) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.div-acoes-modal-romaneio {
  width: 40%;
  display: flex;
  font-size: 1.3em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: space-between;
  margin-left: 10px;
}
.div-acao-romaneio {
  display: flex;
  justify-content: space-between;
}
#form-romaneio-search {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
}

#form-romaneio-search div {
  width: 100% !important;
}

#search-serial-romaneio {
  margin: 25px 0;
  width: 50%;
}

#div-block-tables-saida-romaneio {
  width: 100%;
}

/* 
#form-romaneio-search div,
#form-romaneio-search input,
#form-romaneio-search span {
  width: 30%;
} */
.div-pagination-table-romaneio {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

#table-return-romaneo {
  width: 100%;
  margin-top: 20px;
}
#table-return-romaneo tr {
  height: 50px;
}

#table-return-romaneo .row-disabled {
  cursor: not-allowed !important;
  background-color: #f5f5f5;
}

#table-return-romaneo tr th {
  background-color: #fafafa;
  padding: 16px;
}

#table-return-romaneo tr td {
  padding: 16px;
}

#table-return-romaneo tr:nth-child(2n + 1) {
  border-top: solid 1px #f5f5f5;
  border-bottom: solid 1px #f5f5f5;
  /* background-color: #f5f5f5; */
}
