.div-card-Rtecnico {
  width: 96%;
  height: 95%;
  background-color: white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
}
.linhaTexto-Rtecnico {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.div-button-table-romaneio {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 30px;
}
.div-separate-table {
  display: flex;
  width: 100%;
  height: 1px;
  background-color: rgb(214, 214, 214);
  margin: 20px 0;
}
.h1-Rtecnico {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
  font-size: 2.2em;
}

#form-romaneio-search {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
}

#form-romaneio-search div {
  width: 100% !important;
}

#search-serial-romaneio {
  margin: 25px 0;
  width: 50%;
}

#div-block-tables-saida-romaneio {
  width: 100%;
}

/* 
#form-romaneio-search div,
#form-romaneio-search input,
#form-romaneio-search span {
  width: 30%;
} */
