.cel-map-cabecalho-RMap {
  align-items: center;
  display: flex;
  width: 10%;
  height: 30px;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.cel-marca-cabecalho-RMap {
  align-items: center;
  display: flex;
  width: 20%;
  height: 30px;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.cel-produto-cabecalho-RMap {
  align-items: center;
  display: flex;
  width: 30%;
  height: 30px;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.div-avancado-RMap {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.div-linha-avancado-RMap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.div-linha1-avancado-RMap {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.div-sku-RMap {
  width: 25%;
  display: flex;
  align-items: center;
}
.div-produto-RMap {
  width: 75%;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.div-marca-RMap {
  width: 50%;
  display: flex;
  align-items: center;
}
.div-map-RMap {
  width: 25%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
