.div-produto-entradaSup {
  width: 45%;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.div-fornecedor-entradaSup {
  width: 40%;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.div-quant-entradaSup {
  width: 15%;
  display: flex;
  align-items: center;
}
.div-valor-entradaSup {
  width: 33%;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.div-desconto-entradaSup {
  width: 33%;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.div-valorTotal-entradaSup {
  width: 33%;
  display: flex;
  align-items: center;
}
