.div-card-externo {
  width: 90%;
  height: auto;
  /* border: 1px solid #ccc; */
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.div-buttons-externo {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.div-linha-externo {
  display: flex;
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  border-radius: 3px;
  min-height: 48px;
  cursor: pointer;
}
.div-linha-externo:active {
  border: 1px solid #1890ff;
  color: #1890ff;
}

.div-card-externo [select='true'] {
  border: 1px solid #1890ff !important;
  color: #1890ff !important;
}

.div-quant-externo {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
}
.div-item-externo {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  padding: 2px;
}
.input-drawer-externo {
  width: 100% !important;
  height: 35px !important;
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  outline: none !important;
  padding-left: 2px !important;
  margin-bottom: 20px !important;
}
.div-button-drawer-externo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.footer-drawer-externo {
  color: rgb(161, 161, 161);
  font-size: 12.7px;
  text-align: center;
  margin-top: 50px;
}
.div-drawer-externo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h1-externo {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
  font-size: 2.2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 550px) {
  .drawer-externo {
    width: 100%;
  }

  .footer-drawer-externo {
    font-size: 12px;
  }
}
