.container {
  align-items: center;
  background-color: white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  height: 95%;
  position: static;
  width: 96%;
}

.title {
  font-weight: 500;
  font-size: 2.2em;
  padding-top: 25px;
  text-align: center;
}

.form {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  min-width: 724px;
  padding: 10px 0;
}

.formGroup {
  max-width: 342px;
  min-width: 239px;
  padding-right: 16px;
  width: 100%;
}

.formGroup > label {
  padding-right: 4px;
  margin: 0;
  width: 100%;
}

.addButton {
  padding-top: 23px;
}

.inputWithButton {
  align-items: center;
  display: flex;
}

.formGroupDescription {
  width: 100%;
}

.formGroupLocation {
  max-width: 168px;
  width: calc(100% / 4);
}

.addButtonPlus {
  background-color: #001529 !important;
  border-color: #001529 !important;
  display: flex !important;
  height: 30px !important;
  justify-content: center;
  margin-left: 5px;
  width: 35px !important;
}

.addButtonPlus:hover {
  background-color: #1890ff !important;
  border-color: #1890ff !important;
}

.errorMessage {
  color: #a80000;
  display: block;
  padding: 6px 0;

}

.inputError {
  border-radius: 4px;
  border: 1px solid #ff0000 !important;
  background-color: #ff6c6c3b !important;
  color: #ff0000 !important;
  padding: 0 0 1px 5px;
  margin: 5px 0 2px 0;
}

.saveButton {
  padding: 20px 0;
  max-width: 1024px;
  min-width: 724px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
