.container {
  align-items: center;
  background-color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 250px;
  position: relative;
  width: 350px;
}

.wrapper h1 {
  color: #0b0550;
  font-size: 32px;
  font-weight: bold;
}

.wrapper img {
  margin-bottom: 20px;
  width: 100%;
}

.wrapper form {
  width: 80%;
}

.wrapper form button {
  background-color: #0b0550;
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
}
