.container {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  width: 350px;
}

.container h1 {
  color: #0b0550;
  font-size: 32px;
  font-weight: bold;
}

.container img {
  margin-bottom: 20px;
  width: 100%;
}

.container form {
  width: 80%;
}

.container form button {
  background-color: #0b0550;
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
}
